name: Android CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
      - name: Setup Android SDK
        uses: actions/setup-android@v3
        with:
          android-sdk-version: 'latest'
          ndk-version: '25.2.9519653'
          cache: true
      - name: Build with Gradle
        run: ./gradlew assembleDebug